.d-grid {
    display: grid;
}

.d-flex {
    display: flex;
}

.btn-yellow {
    background-color: #ea853b;
    color: #fff;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 70px;
}

h4 {
    color: #fff;
}

/* .container {
    width: 90%;
} */

.footer-container {
    background-color: #202126;
    color: #fff;
    height: 500px;
    width: 100%;
}

.footer-wrapper {
    padding: 50px;
    grid-template-columns: 1fr  1fr 1fr;
    margin: 0 10%;
    gap: 20px;
    color: gray;
}

.footer-wrapper--item p {
    font-size: 14px;
}

.footer-wrapper--item > ul {
    margin-left: -20px;
    font-size: 14px;
}

.footer-wrapper--item input {
    background-color: #26282d;
    color: gray;
    border: none;
    border-radius: 5px;
}

.img-wrapper {
    grid-template-columns: 1fr  1fr;
    gap: 5px;
    width: 210px;
}

.img-wrapper img {
    object-fit: cover;
}

.footer-copyright {
    border-top: 1px solid gray;
    width: 80%;
    margin: 0 10%;
    justify-content: space-between;
}

.footer-copyright ul {
    margin-left: -20px;
}


.footer-copyright ul li{
    list-style: none;
    margin-right: 30px;
}

